src/main/mule/cicd-murali.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39d08382-164c-4075-829f-fbe63ad54f55" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-muraliFlow" doc:id="3ee4fa33-fdd6-489e-8779-234be0149b27" >
		<http:listener doc:name="Listener" doc:id="437991ca-98ce-4b1c-95dd-2fc2851c297f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["How are you"]' doc:name="Set Payload" doc:id="857dc5d9-f649-408d-8025-36bcb8194649" />
	</flow>
</mule>
